<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="/results/1">
            <span>King's Park</span>
          </a>
        </li>
        <li>
          <a href="/results/2">
            <span>Linn Park</span>
          </a>
        </li>
        <li>
          <a href="/results/3">
            <span>Rouken Glen Park</span>
          </a>
        </li>
        <li>
          <a href="/results/4">
            <span>Pollok Country Park</span>
          </a>
        </li>
        <li>
          <a href="/results/5">
            <span>Bellahouston Park</span>
          </a>
        </li>
        <li>
          <a href="/about"> About </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
