<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/results/1">King's Park</a></li>
          <li><a href="/results/2">Linn Park</a></li>
          <li><a href="/results/3">Rouken Glen Park</a></li>
          <li><a href="/results/4">Pollok Country Park</a></li>
          <li><a href="/results/5">Bellahouston Park</a></li>
          <li><a href="/about">About</a></li>
      </ul>
    </nav>