<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav class="main-nav">
      <ul>
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="/kings">
            <span>King's Park</span>
          </a>
        </li>
        <li>
          <a href="/linn">
            <span>Linn Park</span>
          </a>
        </li>
        <li>
          <a href="/rouken">
            <span>Rouken Glen Park</span>
          </a>
        </li>
        <li>
          <a href="/pollok">
            <span>Pollok Country Park</span>
          </a>
        </li>
        <li>
          <a href="/bellahouston">
            <span>Bellahouston Park</span>
          </a>
        </li>
        <li>
          <a href="/about"> About </a>
        </li>
      </ul>
    </nav>

    <div class="nav-container">
      <nav class="small-nav">
        <ul>
          <li>
            <a href="/kings"> Race Results </a>
          </li>
          <li>
            <a href="/results/1"> Classification </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
