<%- include('partials/_htmlhead'); -%>

<div><h1><%= title %></h1></div>

<div>
  <p>
    The acclaimed South By Five race series returns to Glasgow for the 22/23
    winter season. Exploring Glasgow's southside parks which help lend their
    beauty to the 'dear green place', the series visits six parks and completes
    a 5k race in each of the parks over a 10-12 week period. We explore and
    discover parts of these parks which you may not previously have visited,
    taking in the wee trails, undulations and hidden glades.
  </p>
  <p>
    Fresh for this year, the series is free to enter. Times are tough for most
    just now, and running and racing should not be the reserve of the rich.
    Helping folk navigate the cost of living crisis, we decided to put this
    series on for free. Each race will be available to enter seperately. This is
    a change to previous when you could enter the full series in one go. We
    noticed in the past that the series would sell out but not all entrants
    would take part in the full series. This may have been due to a change in
    circumstances since sign up, or it may have been the ease and convenience of
    signing up to six races with one entry.
  </p>
  <p>
    The result was some people who wished to enter missed out as the races were
    'full'. We envisage this being more of an issue when it is free to enter We
    hope that by making each race an individual entry, people are more likely to
    sign up to the events which they are most likely to make. Participants who
    sign up to 5 or 6 races will be deemed 'series entrants' and marked as such
    on the results. Only those who complete 5 of the 6 races will be considered
    series finishers!
  </p>
</div>

<footer>
  <p>
    All Content Copyright © 2023 - Acorn Trails Limited (SCO686053) | Website
    designed by Lukasz Pudlo | l.pudlo1990@gmail.com
  </p>
</footer>

<%- include('partials/_htmlfoot'); -%>
