<%- include('partials/_htmlhead'); -%>

<div><h1><%= title %></h1></div>

<div>
  <p>View South by Five series classification results after each race.</p>
</div>

<%- include('partials/_htmlfoot'); -%>
