<%- include('partials/_htmlhead'); -%>

<div><h1><%= title %></h1></div>

<div>
  <p>
    Select a category and click on park names to see the race results for that
    category.
  </p>
</div>

<div style="width: 75%; height: 75%; padding-bottom: 30%; position: relative">
  <iframe
    src="https://giphy.com/embed/4NNUGzNcWRUoTnvy1d"
    width="100%"
    height="100%"
    style="position: absolute"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
</div>
<p><a href="https://giphy.com/embed/4NNUGzNcWRUoTnvy1d"></a></p>

<div>
  <p>
    Enter a name or names separated by commas to see and / or compare results.
  </p>
</div>

<div style="width: 75%; height: 75%; padding-bottom: 30%; position: relative">
  <iframe
    src="https://giphy.com/embed/ZdeRLJ6CulRmTlNlEE"
    width="100%"
    height="100%"
    style="position: absolute"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
</div>
<p><a href="https://giphy.com/embed/ZdeRLJ6CulRmTlNlEE"></a></p>

<%- include('partials/_htmlfoot'); -%>
