<%- include('partials/_htmlhead'); -%>

<div><h1><%= title %></h1></div>

<div>
  <p>
    Select a category and click on park names to see the overall classification
    after each race.
  </p>
</div>

<div style="width: 75%; height: 75%; padding-bottom: 30%; position: relative">
  <iframe
    src="https://giphy.com/embed/PzSikhRKUvnZNMbzij"
    width="100%"
    height="100%"
    style="position: absolute"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
</div>
<p><a href="https://giphy.com/gifs/PzSikhRKUvnZNMbzij"></a></p>

<div>
  <p>
    Enter a runner's name or names separated by commas to see their position(s)
    in the overall classification.
  </p>
</div>

<div style="width: 75%; height: 75%; padding-bottom: 30%; position: relative">
  <iframe
    src="https://giphy.com/embed/FH2S31Q9cPvVB1HPIn"
    width="100%"
    height="100%"
    style="position: absolute"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
</div>
<p><a href="https://giphy.com/gifs/FH2S31Q9cPvVB1HPIn"></a></p>

<%- include('partials/_htmlfoot'); -%>
