body {
    background-color: #fffdf8;
}


div {
    font-family: "Montserrat", sans-serif;
    width: 80%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 1.2em;
    border-radius: 0.5em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

table {
    font-family: "Montserrat", sans-serif;
    width: 80%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 0.9em;
    border-radius: 0.5em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}


thead {
    background-color: #fffdf8;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #dee2e6;
}

th {
    font-weight: bold;
}

th.runner {
    position: relative;
    min-width: 150px;
}

input[type="text"] {
    position: absolute;
    right: 0;
    width: 100px;
}

.search-input {
    float: right;
    margin-right: 10px;
}

.category-select {
    float: right;
    margin-right: 10px;
}

/* tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
} */

tbody tr {
    transition: background-color 0.3s ease;
}

tbody tr:hover {
    background-color: rgb(10,118,52, 0.5);
}

.male {
    background-color: #fffdf8;
}

.female {
    background-color: rgb(10,118,52, 0.5);
}


caption {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #fffdf8;
}

nav {
    background-color: rgb(10,118,52, 0.8);
    color: #fffdf8;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    padding: 1rem;
}

nav a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #fffdf8;
    text-decoration: none;
}

.active {
    background-color: rgb(10,118,52, 1);
}

.sticky-search-filter-container {
    display: none;
}

footer p {
    background-color: rgb(10,118,52, 0.8); /* Set the background color */
    color: #fffdf8; /* Set the text color */
    text-align: center; /* Center the text */
    padding: 1em; /* Add some padding */
    margin: 0; /* Remove any margins */
}




/* Responsive styles */
@media only screen and (max-width: 780px) {
    th, td {
        padding: 0.4rem;
    }
    thead {
        display: none;
    }
    tbody {
        display: block;
        width: 100%;
        overflow: auto;
    }
    tbody tr {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgb(10,118,52, 0.8);
        border-radius: 5px;
        margin-bottom: 10px;
    }
    tbody td {
        display: block;
        width: 100%;
        text-align: right;
    }

    td[headers="runner"]::before {
        content: "Runner";
        display: block;
        font-weight: bold;
      }
      td[headers="points"]::before {
        content: "Points";
        display: block;
        font-weight: bold;
      }
      td[headers="category"]::before {
        content: "Category";
        display: block;
        font-weight: bold;
      }
      td[headers="generalPosition"]::before {
        content: "General Position";
        display: block;
        font-weight: bold;
      }

    nav ul {
        flex-wrap: wrap;
    }
    nav li {
        width: 100%;
        text-align: center;
    }


    /* Position the sticky-search-filter-container element at the top of the thead section of your table */
    .sticky-search-filter-container {
        margin-top: 20px;
        position: sticky;
        top: 0;
        display: block;
        width: 50%;
        float: left;
        background: #fffdf8;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9em;

        border: 1px solid rgb(10,118,52, 0.8);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .sticky-search-filter {
        display: block;
    }
    
    .sticky-search-filter-container * {
        display: block;
        margin-bottom: 10px;
    }

    .sticky-search-input {
        display: block;
    }

    input[type="text"] {
        position: relative;
        width: 100px;
    }

    
}




