table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

thead {
    background-color: #f8f9fa;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #dee2e6;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    th, td {
        padding: 0.4rem;
    }
    thead {
        display: none;
    }
    tbody {
        display: block;
        width: 100%;
        overflow: auto;
    }
    tbody tr {
        display: flex;
        flex-wrap: wrap;
    }
    tbody td {
        display: block;
        width: 100%;
        text-align: right;
    }
}

caption {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #f8f9fa;
}

nav {
    background-color: #5e6164;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}
